<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal mt-3', role: 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :current_password, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<h3 class="mt-3">Delete my account</h3>

<div class="alert alert-warning">
  Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</div>

<%= link_to "Back", :back, class: 'btn btn-default' %>
