<nav class="navbar navbar-expand-lg navbar-light bg-primary btn-primary">
  <%= link_to 'BudgetBuddy', root_path, class: "navbar-brand ml-3 text-light lobster" %>
  <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo_action: 'replace' }, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link text-light" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Register', new_user_registration_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link text-light" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
